@font-face {
    font-family:Topaz;
    src: url(fonts/Topaz_a1200_v1.0.ttf) format("truetype");
}

body {
    background-color: black;
    color: #DCDCDC;
    font-family: Topaz;
    text-align: center;
}

h1 {
    text-align: center;
    color: #69EBFF;
}

h2 {
   color: #fafafa;
}

a:link {
    color: #DCDCDC;
}

a:visited {
    color: #DCDCDC;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

a.download {
    width: 33%;
    text-align: center;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

a.download:link {
    color: #FC3B54;
}

a.download:visited {
    color: #FC3B54;
}

a.download:hover {
    color: #FF5F77;
}

a.download:active {
    color: #FF5F77;
}

a.bottomLink {
   display: inline-block;	  
   width: 6em;
   padding-left: 1em;
   padding-right: 1em;   
   text-align: center;
   width: 33%;
   padding-left: 0px;	
   padding-right: 0px;	
}

a.bottomLink:link {
    color: #69EBFF;
}

a.bottomLink:visited {
    color: #69EBFF;
}

a.bottomLink:hover {
    color: #AEEBFF;
}

a.bottomLink:active {
    color: #AEEBFF;
}

.main {
   width: 600px;
   display: inline-block;
   text-align: left;
}

.footer {
   width: 600px;
   display: inline-block;
   text-align: center;
   margin-bottom: 0.5em;
}

.danger {
   color: red;
   font-weight: bold;
}

.good {
    color: #15DE15;
    font-weight: bold;
}

.centered {
    text-align: center;
}

.pig {
    position: relative;
    top: 10px;
    left: -20px;
}